$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;

//colors
$primary: #5f8ee4;
$secondary: #e6e6e6;
$accent: #e4655f;
$gray: #19191a;
$navbar-light-color: $secondary;
$navbar-light-hover-color: $secondary;
$dropdown-link-color: $primary;
$link-color: $primary;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'accent': $accent,
  'gray': $gray,
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

p {
  font-family: $font-family-serif;
  font-weight: 400;
  font-size: 1rem;
}