<template>
  <b-container>
    <b-row>
      <b-col>
        <b-card :title="title" :img-src="image" :img-alt="description" img-top tag="article">
          <b-card-text>{{ description }}</b-card-text>
          <b-list-group>
            <b-list-group-item variant="accent" class="text-gray"
              ><p>Power: {{ bike.power }}</p></b-list-group-item
            >
            <b-list-group-item variant="accent" class="text-gray"
              ><p>Displacement: {{ bike.displacement }}</p></b-list-group-item
            >
            <b-list-group-item variant="accent" class="text-gray"
              ><p>Year: {{ bike.year }}</p></b-list-group-item
            >
            <b-list-group-item variant="accent" class="text-gray"
              ><p>Color: {{ bike.color }}</p></b-list-group-item
            >
          </b-list-group>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  // Add headers
  head() {
    return {
      title: `My ${this.bike.manufacturer} ${this.bike.model}`,
      meta: [{ hid: 'description', name: 'description', content: `${this.bike.description}` }],
    }
  },
  computed: {
    bikes() {
      return this.$store.getters.getBikes
    },
    bike() {
      // Find the bike with a matching slug. Strip trailing slash to compare
      return this.bikes.find((bike) => bike.slug == this.$route.path) || ''
    },
    title() {
      return this.bike ? `${this.bike.manufacturer} ${this.bike.model}` : ''
    },
    image() {
      return this.bike ? this.bike.image : ''
    },
    description() {
      return this.bike ? `${this.bike.description}` : ''
    },
  },
}
</script>

<style lang="scss" scoped>
::v-deep .list-group-item p {
  margin-bottom: 0;
}
</style>
