<template>
  <main>
    <b-navbar toggleable="lg" type="light" variant="primary">
      <b-navbar-brand to="/">
        <span>Project Motorcycle</span>
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item-dropdown
            :text="manufacturer.manufacturer"
            v-for="manufacturer in bikeHeirarchy"
            v-bind:key="manufacturer.manufacturer"
          >
            <b-dropdown-item :to="model.url" v-for="model in manufacturer.models" v-bind:key="model.name">{{
              model.name
            }}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <nuxt />
  </main>
</template>

<script>
export default {
  computed: {
    bikeHeirarchy() {
      return this.$store.getters.getBikeHeirarchy
    },
  },
}
</script>

<style></style>
