<template>
  <b-container>
    <b-row>
      <b-col>
        <h1>Welcome to Project Motorcycle!</h1>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet lectus dictum nibh rutrum, non
          iaculis purus aliquet. Morbi luctus, magna a placerat rhoncus, nibh leo efficitur lorem, vitae interdum urna
          sem vel urna. Nam sapien orci, lacinia eu massa a, mattis hendrerit nisl. Curabitur ac turpis porta, semper
          eros id, eleifend ligula. Vivamus at nisi tempor, bibendum felis a, pretium nisi. Donec ultricies risus non
          mollis lobortis. Vivamus a neque bibendum, accumsan nibh ut, tempor magna. Nullam ultricies viverra est. Sed
          in porta ligula, sit amet cursus risus.
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script></script>

<style></style>
